<!-- gallery -->
<div class="gallery" id="gallery">
  <div class="w3ls-heading">
    <h3>Our Gallery</h3>
    <p class="sub">Morbi in dui pretium, finibus sapien vel.</p>
  </div>
  <div class="w3layouts-grids gal-wthree-agileits">
    <div id="jzBox" class="jzBox">
      <div id="jzBoxNextBig"></div>
      <div id="jzBoxPrevBig"></div>
      <img src="#" id="jzBoxTargetImg" alt=""/>
      <div id="jzBoxBottom">
        <div id="jzBoxTitle"></div>
        <div id="jzBoxMoreItems">
          <div id="jzBoxCounter"></div>
          <i class="arrow-left" id="jzBoxPrev"></i>
          <i class="arrow-right" id="jzBoxNext"></i>
        </div>
        <i class="close" id="jzBoxClose"></i>
      </div>
    </div>
    <div class="gallery-grids-row">
      <div class="col-md-3 gallery-grid">
        <div class="wpf-demo-4">
          <a href="images/g1.jpg" class="jzBoxLink item-hover" title="Education">
            <img src="images/g1.jpg" alt=" " class="img-responsive" />
            <div class="view-caption">
              <p>Full View</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-3 gallery-grid">
        <div class="wpf-demo-4">
          <a href="images/g2.jpg" class="jzBoxLink item-hover" title="Education">
            <img src="images/g2.jpg" alt=" " class="img-responsive" />
            <div class="view-caption">
              <p>Full View</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-3 gallery-grid">
        <div class="wpf-demo-4">
          <a href="images/g3.jpg" class="jzBoxLink item-hover" title="Education">
            <img src="images/g3.jpg" alt=" " class="img-responsive" />
            <div class="view-caption">
              <p>Full View</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-3 gallery-grid">
        <div class="wpf-demo-4">
          <a href="images/g4.jpg" class="jzBoxLink item-hover" title="Education">
            <img src="images/g4.jpg" alt=" " class="img-responsive" />
            <div class="view-caption">
              <p>Full View</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-3 gallery-grid">
        <div class="wpf-demo-4">
          <a href="images/g5.jpg" class="jzBoxLink item-hover" title="Education">
            <img src="images/g5.jpg" alt=" " class="img-responsive" />
            <div class="view-caption">
              <p>Full View</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-3 gallery-grid">
        <div class="wpf-demo-4">
          <a href="images/g6.jpg" class="jzBoxLink item-hover" title="Education">
            <img src="images/g6.jpg" alt=" " class="img-responsive" />
            <div class="view-caption">
              <p>Full View</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-3 gallery-grid">
        <div class="wpf-demo-4">
          <a href="images/g7.jpg" class="jzBoxLink item-hover" title="Education">
            <img src="images/g7.jpg" alt=" " class="img-responsive" />
            <div class="view-caption">
              <p>Full View</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-3 gallery-grid">
        <div class="wpf-demo-4">
          <a href="images/g8.jpg" class="jzBoxLink item-hover" title="Education">
            <img src="images/g8.jpg" alt=" " class="img-responsive" />
            <div class="view-caption">
              <p>Full View</p>
            </div>
          </a>
        </div>
      </div>

      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!-- //gallery -->
