<!-- Modal1 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>

        <div class="signin-form profile">
          <h3 class="agileinfo_sign">Sign In</h3>
          <div class="login-form">
            <form action="#" method="post">
              <input type="text" name="email" placeholder="E-mail" required="">
              <input type="password" name="password" placeholder="Password" required="">
              <div class="tp">
                <input type="submit" value="Sign In">
              </div>
            </form>
          </div>
          <div class="login-social-grids">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-rss"></i></a></li>
            </ul>
          </div>
          <p><a href="#" data-toggle="modal" data-target="#myModal3" > Don't have an account?</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- //Modal1 -->
<!-- Modal2 -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>

        <div class="signin-form profile">
          <h3 class="agileinfo_sign">Sign Up</h3>
          <div class="login-form">
            <form action="#" method="post">
              <input type="text" name="name" placeholder="Username" required="">
              <input type="email" name="email" placeholder="Email" required="">
              <input type="password" name="password" placeholder="Password" required="">
              <input type="password" name="password" placeholder="Confirm Password" required="">
              <input type="submit" value="Sign Up">
            </form>
          </div>
          <p><a href="#"> By clicking register, I agree to your terms</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- //Modal2 -->
<!-- Modal4 -->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>

        <div class="signin-form profile">
          <h3 class="agileinfo_sign">Admission Form</h3>
          <div class="login-form">
            <form action="#" method="post">
              <input type="text" name="name" placeholder="Name of the Candidate" required="">

              <input type="text" name="gender" placeholder="Gender" required="">
              <input type="text" name="city" placeholder="City" required="">
              <input type="text" name="phone" placeholder="Phone No" required="">
              <input type="email" name="email" placeholder="Email" required="">
              <div class="address">
                <select class="form-control">
                  <option>Select Courses</option>
                  <option>Course 1</option>
                  <option>Course 2</option>
                  <option>Course 3</option>
                  <option>Course 4</option>
                  <option>Course 5</option>
                  <option>More</option>
                </select>
                <select class="form-control two">
                  <option>Select Campus</option>
                  <option>Campus 1</option>
                  <option>Campus 2</option>
                  <option>Campus 3</option>
                  <option>Campus 4</option>
                  <option>Campus 5</option>
                  <option>More</option>
                </select>
                <div class="clearfix"></div>
              </div>
              <div class="address">
                <textarea name="Message" placeholder="Address" required=" "></textarea>
                <textarea name="Message" placeholder="Additional Note" required=" "></textarea>
                <div class="clearfix"></div>
              </div>
              <div class="address">
                <input type="submit" value="Admission Now">
                <input type="reset" value="Clear">
                <div class="clearfix"></div>
              </div>
            </form>
          </div>
          <p><a href="#"> By clicking Admission, I agree to your terms</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- //Modal4 -->

<!-- banner -->
<div class="w3ls_banner_section">
  <div class="container">
    <h2>Education Needs Complete <span>Solution</span></h2>
    <p> for Admission Coming soon</p>

    <div class="wthree-counter-agile">
      <!--timer-->
      <section class="examples">
        <div class="simply-countdown-losange" id="simply-countdown-losange"></div>
        <div class="clearfix"></div>
      </section>

      <!--//timer-->

    </div>

    <div class="agileits_more">
      <ul>
        <li><a href="#" data-toggle="modal" data-target="#myModal4" class="w3ls_banner_more hvr-icon-hang scroll ">Admission</a></li>
        <li><a href="#" class="hvr-icon-hang" data-toggle="modal" data-target="#myModal">Read More</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- //banner -->
<!-- bootstrap-pop-up -->
<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <section>
        <div class="modal-body">
          <h3 class="agileinfo_sign">Brilliance</h3>
          <img src="images/ab.jpg" alt=" " class="img-responsive" />
          <p>Ut enim ad minima veniam, quis nostrum
            exercitationem ullam corporis suscipit laboriosam,
            nisi ut aliquid ex ea commodi consequatur.
            <i>" Quis autem vel eum iure reprehenderit qui in ea voluptate velit .</i></p>
        </div>
      </section>
    </div>
  </div>
</div>
<!-- //bootstrap-pop-up -->

<!-- banner-down-->
<div class="wthree_banner_grids">
  <div class="container">
    <div class="col-md-3 wthree_banner_grid">
      <i class="fa fa-user" aria-hidden="true"></i>

      <h4>BEST REAL LEADERS</h4>
      <div class="clearfix"> </div>
    </div>
    <div class="col-md-3 wthree_banner_grid">
      <i class="fa fa-globe" aria-hidden="true"></i>
      <h4>LEARN COURSES ONLINE</h4>
      <div class="clearfix"> </div>
    </div>
    <div class="col-md-3 wthree_banner_grid">
      <i class="fa fa-book" aria-hidden="true"></i>
      <h4>BOOK LIBRARY & STORE</h4>
      <div class="clearfix"> </div>
    </div>
    <div class="col-md-3 wthree_banner_grid">
      <i class="fa fa-bus" aria-hidden="true"></i>
      <h4>VAN & BUS FACILITY</h4>
      <div class="clearfix"> </div>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
<!-- //banner-down-->
<!-- banner-bottom -->
<div class="banner-bottom-agileits" id="about">

  <div class="col-md-5 w3l_banner_bottom_right">
    <img src="images/ab.jpg" alt=" " class="img-responsive" />
  </div>
  <div class="col-md-7 w3l_banner_bottom_left">
    <h3>Complete Solution For You Education Needs</h3>
    <p>Nullam at turpis vel sapien aliquam feugiat vitae vitae mi.
      Donec scelerisque, justo vel blandit tempor, quam tellus blandit lectus, ut viverra leo
      velit et quam. Phasellus viverra et quam efficitur rhoncus sollicitudin..
      <span>Donec porttitor neque sed mauris sagittis, a auctor enim porta.
						Sed tristique sollicitudin orci. Vivamus vulputate nunc id nulla elementum,nec vehicula ipsum ullamcorper.</span></p>
  </div>
  <div class="clearfix"></div>
</div>
<!-- //banner-bottom -->
<!-- services -->
<div class="services" id="services">
  <div class="container">
    <div class="w3ls-heading">
      <h3 class="h-two">Learning Objectives</h3>
      <p class="sub two">Morbi in dui pretium, finibus sapien vel.</p>
    </div>
    <div class="w3layouts-grids">
      <div class="services-right-grids">
        <div class="col-sm-4 services-right-grid">
          <div class="services-icon hvr-radial-in">
            <i class="fa fa-bar-chart" aria-hidden="true"></i>
          </div>
          <div class="services-icon-info">
            <h5>Skills</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci enim, posuere sed tincidunt et.</p>
          </div>
        </div>
        <div class="col-sm-4 services-right-grid">
          <div class="services-icon hvr-radial-in">
            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
          </div>
          <div class="services-icon-info">
            <h5>Self Learning</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci enim, posuere sed tincidunt et.</p>
          </div>
        </div>
        <div class="col-sm-4 services-right-grid">
          <div class="services-icon hvr-radial-in">
            <i class="fa fa-question-circle-o" aria-hidden="true"></i>
          </div>
          <div class="services-icon-info">
            <h5>Knowledge</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci enim, posuere sed tincidunt et.</p>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="services-right-grids">
        <div class="col-sm-4 services-right-grid">
          <div class="services-icon hvr-radial-in">
            <i class="fa fa-comments" aria-hidden="true"></i>
          </div>
          <div class="services-icon-info">
            <h5>Discussion</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci enim, posuere sed tincidunt et.</p>
          </div>
        </div>
        <div class="col-sm-4 services-right-grid">
          <div class="services-icon hvr-radial-in">
            <i class="fa fa-usd" aria-hidden="true"></i>
          </div>
          <div class="services-icon-info">
            <h5>International Payments</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci enim, posuere sed tincidunt et.</p>
          </div>
        </div>
        <div class="col-sm-4 services-right-grid">
          <div class="services-icon hvr-radial-in">
            <i class="fa fa-building-o" aria-hidden="true"></i>
          </div>
          <div class="services-icon-info">
            <h5>Hosted Content</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci enim, posuere sed tincidunt et.</p>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
</div>
<!-- //services -->
