<div class="page-top">
  <div class="parallax" style="background:url('images/contact.jpg');"></div>
  <div class="container">
    <h1>DATA <span>ENTRY</span></h1>
    <ul>
      <li><a href="index.html" title="">Home</a></li>
      <li><a href="javascript:" title="">Data-Entry</a></li>
    </ul>
  </div>
</div><!--- PAGE TOP -->

<div class="row">
  <div class="col-md-12 col-md-offset-1">
    <h5>Personal Information</h5>
    <hr>
    <div class="row">
      <div class="col-md-4 data-form">
        <input type="text" name="Name" placeholder="First Name..." required="">
      </div>
      <div class="col-md-4 data-form">
        <input type="text" name="Name" placeholder="Middle Name..." required="">
      </div>
      <div class="col-md-4 data-form">
        <input type="text" name="Name" placeholder="Last Name..." required="">
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 data-form">
        <input type="text" name="Name" placeholder="Date of Birth Place" required="">
      </div>
      <div class="col-md-4 data-form">
        <input type="text" name="Name" placeholder="Date of Birth" required="">
      </div>
      <div class="col-md-4 data-form">
        <input type="text" name="Name" placeholder="Date of Birth Time" required="">
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 data-form">
        <input type="text" name="Name" placeholder="Mobile Number" required="">
      </div>
      <div class="col-md-4 data-form">
        <input type="text" name="Name" placeholder="Email Id" required="">
      </div>
      <div class="col-md-4 data-form">
        <input type="text" name="Name" placeholder="Hobby" required="">
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 data-form address">
        <select class="form-control">
          <option>Select Gender</option>
          <option>Male</option>
          <option>Female</option>
        </select>
      </div>
      <div class="col-md-4 data-form address">
        <select class="form-control">
          <option>Marital Status</option>
          <option>Married</option>
          <option>Unmarried</option>
        </select>
      </div>
      <div class="col-md-4 data-form">
        <input type="text" name="Name" placeholder="Gotra" required="">
      </div>
    </div>

    <div class="row" style="margin-top: 18px;">
      <div class="col-md-6 data-form">
        <textarea class="txtAddpresent" placeholder="present Address" name="Message" required=""></textarea>
      </div>
      <div class="col-md-6 data-form">
        <textarea class="txtAddpresent" placeholder="permenent Address" name="Message" required=""></textarea>
      </div>
    </div>
  </div>
</div>

