<div class="team" id="team">
  <div class="container">
    <div class="w3ls-heading">
      <h3>Our Faculties</h3>
      <p class="sub">Morbi in dui pretium, finibus sapien vel.</p>
    </div>
    <div class="w3layouts-grids">
      <div class="col-md-3 wthree_team_grid">
        <div class="wthree_team_grid1">
          <div class="hover14 column">
            <div>
              <figure><img src="images/2.jpg" alt=" " class="img-responsive" /></figure>
            </div>
          </div>
          <div class="wthree_team_grid1_pos">
            <h4>Rabecca Ali</h4>
          </div>
        </div>
        <div class="wthree_team_grid2">
          <ul class="social-icons">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 wthree_team_grid">
        <div class="wthree_team_grid1">
          <div class="hover14 column">
            <div>
              <figure><img src="images/4.jpg" alt=" " class="img-responsive" /></figure>
            </div>
          </div>
          <div class="wthree_team_grid1_pos">
            <h4>Rosy Carl </h4>
          </div>
        </div>
        <div class="wthree_team_grid2">
          <ul class="social-icons">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 wthree_team_grid">
        <div class="wthree_team_grid1">
          <div class="hover14 column">
            <div>
              <figure><img src="images/1.jpg" alt=" " class="img-responsive" /></figure>
            </div>
          </div>
          <div class="wthree_team_grid1_pos">
            <h4>David Martin</h4>
          </div>
        </div>
        <div class="wthree_team_grid2">
          <ul class="social-icons">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 wthree_team_grid">
        <div class="wthree_team_grid1">
          <div class="hover14 column">
            <div>
              <figure><img src="images/3.jpg" alt=" " class="img-responsive" /></figure>
            </div>
          </div>
          <div class="wthree_team_grid1_pos">
            <h4>Reena Scot</h4>
          </div>
        </div>
        <div class="wthree_team_grid2">
          <ul class="social-icons">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>

      <div class="clearfix"> </div>
    </div>
  </div>
</div>
